body {
  font-family: 'Lato', sans-serif;
  color: black;
  background-color: white;
}
h1,h2,h3,h4,h5,h6 {
  color:#0cffe1;
  font-family: 'Lato-bold', sans-serif;
}

h1 {
  color: black;
  font-weight: 900;
  font-family: 'Lato-black', sans-serif;
}

p {
  color:black;
  font-family: 'Lato', sans-serif;
}
a:link {
  color: white;
}
a:visited {
  color: white;
}
a:hover {
  color: white;
}
a:active {
  color: white;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}


.navbar {
  font-size: 1.3vmin;
  font-weight: 700;
  letter-spacing: .12vmin;
  color: #555;
  min-height: 80px;
}

.navbar li {
  margin-right: 1.9vmin;
}

.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}

.lead {

  color:#838383;
}
.emphaze {
  color:black;
  font-weight: 900;
  font-family: 'Lato-black', sans-serif;
}

footer {
  position: fixed;
  height: 14vh;
  bottom: 0;
  width: 100%;
  background-color: #232323;
  font-size: 1em;
  line-height: 1em;
  font-weight: 100;
}

footer p {
    color:#777;
}

.footer-classic a {
  font-family: 'Lato-bold', sans-serif;
  color: hsla(0,0%,100%,.6)
}

.disclaimer {

}


 .footer-classic a:focus, .footer-classic a:active {
    color: #53cd7f;
}


.Button {
  font-family: 'Lato', sans-serif;
  border-radius: 100vmin;
  border: none;
  font-size: 2.6vmin;
  font-weight: 400;
  color: white;
  background-color: #53cd7f;
  -webkit-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
  text-transform: none;
  letter-spacing: normal;
  margin: 1vmin 1.2vmin;
  padding: 2.6vmin 10vmin;
  position: relative;
  cursor: pointer;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  /* ----- Button states ----- */
  /* ----- Button themes ----- */
  /* ----- Button arrows ----- */
/* ----- Button content ----- */ }
@media only screen and (max-width: 600px) {
  .Button {
    font-size: 5vmin;
    margin: 2vmin 2.4vmin;
    padding: 4.2vmin 14vmin; } }
    .Button:focus {
      outline: none; }
      .Button:disabled, .Button[disabled] {
        background-color: lightgrey;
        color: white;
        cursor: default; }
        .Button:hover:not([disabled]) {
          background-color: #3da269; }
          .Button.light {
            color: darkgrey;
            background: none; }
            .Button.light:hover:not([disabled]) {
              color: #53cd7f;
              background: none; }
              .Button.light:disabled, .Button.light[disabled] {
                color: lightgrey;
                background: none; }
                .Button.Button-right-arrow.Button-light:not([disabled]) {
                  color: #53cd7f; }
                  .Button.Button-left-arrow, .Button.Button-right-arrow {
                    padding: 2.1vmin 8vmin;
                    letter-spacing: 0.2vmin;
                    font-size: 2.3vmin; }
                    @media only screen and (max-width: 600px) {
                      .Button.Button-left-arrow, .Button.Button-right-arrow {
                        padding: 3.6vmin 16vmin;
                        letter-spacing: 0.3vmin;
                        font-size: 5.6vmin; } }
                        .Button.Button-right-arrow b {
                          font-weight: 800; }
                          .Button.Button-right-arrow::after, .Button.Button-left-arrow::before {
                            font-size: 1.7vmin;
                            margin-top: -0.36vmin;
                            font-weight: 600;
                            position: absolute;
                            -webkit-transform: scaleY(1.6) scaleX(0.8);
                            -ms-transform: scaleY(1.6) scaleX(0.8);
                            transform: scaleY(1.6) scaleX(0.8); }
                            @media only screen and (max-width: 600px) {
                              .Button.Button-right-arrow::after, .Button.Button-left-arrow::before {
                                font-size: 4.4vmin;
                                margin-top: -1vmin; } }
                                .Button.Button-right-arrow::after {
                                  content: '>';
                                  right: 5.4vmin; }
                                  @media only screen and (max-width: 600px) {
                                    .Button.Button-right-arrow::after {
                                      right: 6vmin; } }
                                      .Button.Button-left-arrow::before {
                                        content: '<';
                                        left: 5.4vmin; }
                                        @media only screen and (max-width: 600px) {
                                          .Button.Button-left-arrow::before {
                                            left: 6vmin; } }
                                            .Button b {
                                              font-weight: 700; }
                                              .Button span {
                                                display: inline; }
